
@{
    ViewBag.Title = "DeptNotavailable";
}


<div class="jumbotron">
    <table>
        <tr>
            <td>
                <h2 style="color:blue"> Currently there is no department yet. </h2>
            </td>
        </tr>
        <tr>
            <td>
                <h3 style="color:chocolate"> First add department details </h3>
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Add Department", "DeptController")
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Back to List", "Index")

            </td>
        </tr>
    </table>
</div>
    
