 @model EmpManagement.Models.Dept
@{
    ViewBag.Title = "NoDataFound";
}

<div class="jumbotron">
<h2 style="color:blue"> No data found </h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    @Html.ActionLink("Add Employee", "../Emp/Create")
</div>
    </div>

   